<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for ASP.NET Core" ToolsVersion="15.0">
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    
    <Rule Id="CS8032" Action="None" />
    <Rule Id="CS1591" Action="None" />
    <Rule Id="CS4014" Action="None" />
    <Rule Id="CS8618" Action="None" />
    
    <!-- <Nullable>オプションの影響。データによってはnullがありえないがチェックが煩わしいものは無効 -->
    <Rule Id="CS8601" Action="None" />
    <Rule Id="CS8604" Action="None" />
    
    <Rule Id="RCS1186" Action="None" />
    <Rule Id="RCS1090" Action="None" />
    <!-- Remove suffix 'Async' from non-asynchronous method name. は一時的に無効 -->
    <Rule Id="RCS1047" Action="None" />
    <Rule Id="RCS1228" Action="None" />
    <Rule Id="RCS1266" Action="None" />
    
    <Rule Id="SYSLIB1045" Action="None" />

    <Rule Id="CA1863" Action="None" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1311" Action="None" />
    <Rule Id="CA1859" Action="None" />
    
  </Rules>
</RuleSet>